{% for product in products %}
  <div>
    <div>
      <div>
        <div>
          {% for image in product.images %}
            {% if forloop.first %}
              <a href="image filter" rel="lightbox">
                <img src="image filter" alt="{{product.title | escape }}" />
              </a>
            {% else %}
              <a href="image filter" rel="lightbox">
                <img src="image filter" alt="{{product.title | escape }}" />
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <h2>{{ product.title }}</h2>
    <ul>
      <li>Vendor: html filter</li>
      <li>Type: Type filter</li>
    </ul>
    <small>Money filter{% if product.price_varies %} - <p>Prices varies  money filter</p>{% endif %}</small>
    <div>
      <form action="/cart/add" method="post">
        <select name="id">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }} - money filter</option>
          {% endfor %}
        </select>
        <div></div>
        <div><input type="image" name="add" value="Add to Cart" src="url Filters" /></div>
      </form>
    </div>
    <div>
      {{ product.description }}
    </div>
  </div>
{% endfor %}
