<div>
{% for collection in collections%}
  {% for product in collection.products %}
    <h1>{{ collection.title }} {{ product.title }}</h1>
    <p><strong>Product Tags: </strong>
      {% for tag in product.tags %}
        <a href="/collections/all/{{ tag }}">{{ tag }}</a> |
      {% endfor %}
    </p>
    <div>
      <div>
        <h1>{{ product.title }}</h1>
        <div>
          <p>{{ product.description }}  </p>
        </div>
        {% if product.available %}
          <form action="/cart/add" method="post">
            <h2>Product Options:</h2>
            <select name="id">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
            <div>
              <input type="submit" value="Add to Basket" />
            </div>
          </form>
        {% else %}
          <h2>Sold out!</h2>
          <p>Sorry, we're all out of this product. Check back often and order when it returns</p>
        {% endif %}
      </div>
      <div>
        {% for image in product.images %}
          {% if forloop.first %}
            <div>
              <img src="filter url for image" alt="{{product.title | escape }}" />
            </div>
          {% endif %}
        {% endfor %}
        <ul>
        {% for image in product.images %}
          {% if forloop.first %}
          {% else %}
            <li>
              <a href="filter url for image" rel="lightbox[product]" title="">
                <img src="filter url for image" alt="{{product.title | escape }}" />
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      <!--
        // prototype callback for multi variants dropdown selector
        var selectCallback = function(variant, selector) {
          if (variant && variant.available == true) {
            // selected a valid variant
            $('add-this-to-cart').removeClassName('disabled'); // remove unavailable class from add-to-cart button
            $('add-this-to-cart').disabled = false;           // reenable add-to-cart button
            $('price-field').innerHTML = Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}");  // update price field
          } else {
            // variant doesn't exist
            $('add-this-to-cart').addClassName('disabled');      // set add-to-cart button to unavailable class
            $('add-this-to-cart').disabled = true;              // disable add-to-cart button
            $('price-field').innerHTML = (variant) ? "Sold Out" : "Unavailable"; // update price-field message
          }
        };
        // initialize multi selector for product
        Event.observe(document, 'dom:loaded', function() {
          new Shopify.OptionSelectors("product-info-options", { product: "json error", onVariantSelected: selectCallback });
        });
      -->
    </script>
  {% endfor %} <!-- Products -->
{% endfor %} <!-- Collections -->
</div>
<!-- end page -->
