 <div>
  {%for blog in blogs%}
    {%for article in blog.articles%}
      <div>
        <div>
          <h1><span>{{article.title}}</span></h1>
          <div>
            <div>{{ article.created_at | date: "%b %d" }}</div>
            {{ article.content }}
          </div>
          <!-- Comments -->
          {% if blog.comments_enabled %}
            <div>
              <h2>Comments</h2>
              <!-- List all comments -->
              <ul>
                {% for comment in article.comments %}
                  <li>
                    <div>
                      {{ comment.content }}
                    </div>

                    <div>
                      Posted by <span>{{ comment.author }}</span> on <span>{{ comment.created_at | date: "%B %d, %Y" }}</span>
                    </div>
                  </li>
                {% endfor %}
              </ul>
              <!-- Comment Form -->
              <div>
                <h2>Leave a comment</h2>
                {% if form.posted_successfully? %}
                  {% if blog.moderated %}
                    <div>
                      Successfully posted your comment.<br />
                      It will have to be approved by the blog owner first before showing up.
                    </div>
                  {% else %}
                    <div>Successfully posted your comment.</div>
                  {% endif %}
                {% endif %}
                {% if form.errors %}
                  <div>Not all the fields have been filled out correctly!</div>
                {% endif %}
                <dl>
                  <dt><label for="comment_author">Your name</label></dt>
                  <dd><input type="text" name="comment[author]" size="40" value="{{form.author}}" /></dd>
                  <dt><label for="comment_email">Your email</label></dt>
                  <dd><input type="text" name="comment[email]" size="40" value="{{form.email}}" /></dd>
                  <dt><label for="comment_body">Your comment</label></dt>
                  <dd><textarea name="comment[body]" cols="40" rows="5">{{form.body}}</textarea></dd>
                </dl>
                {% if blog.moderated %}
                  <p>comments have to be approved before showing up</p>
                {% endif %}
                <input type="submit" value="Post comment" />
              </div>
              <!-- END Comment Form -->
            </div>
          {% endif %}
          <!-- END Comments -->
        </div>
      </div>
    {%endfor%}
  {%endfor%}
</div>
